# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
pandas==1.2.4
numpy~=1.19.2
PyYAML>=5.4
scikit-learn~=0.24.0
hyperopt~=0.2.5
tableone~=0.7.10
requests~=2.25.1
Keras~=2.4.3

tensorflow>=2.5.0
pillow==8.2.0
opencv-contrib-python~=4.5.2.52
{% if cookiecutter.python_interpreter != 'python3' %}


# backwards compatibility
pathlib2
{% endif %}
