# local package
-e .

# external requirements
flake8
pytest~=6.2.2
pytest-randomly
Sphinx
Sphinxcontrib-napoleon-0.7

# code formatting
black~=3.4.1
black[d]~=3.4.1
isort

# pre-commit
pre-commit ~= 2.20.0